<!DOCTYPE html>
{% load static %}
<html lang="en">

    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/first.css' %}">
        <meta charset="UTF-8">
        <title>Текущее Время</title>
    </head>

    <body id="body" data-spy="scroll" data-target=".header">
        <div style="margin-top: 200px;">
            <center>
                <div class="margin-b-40">
                    <h1>Текущее время</h1>
                    <h3 class="curse">{{ current_time }}</h3>
                </div>
                <a href="{% url 'home' %}"><button class="custom-btn btn-4"><span>Вернуться на главную</span></button></a>
            </center>
        </div>
    </body>

</html>