.header {
    margin-top: 30px;
    margin-bottom: 150px;
}

.footer {
    margin-top: 150px;
    font-size: 24px;
}

.book {
    margin-top: 30px;
    margin-bottom: 30px;
}

.custom_bottom_1 {
    position:fixed;
    bottom: 200px;
    left: 450px
}
.custom_bottom_2 {
    position:fixed;
    bottom: 200px;
    left: 600px
}